:root {
    --primary-color: #4CAF50;
    --secondary-color: #f9f9f9;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--secondary-color);
}

.centered-text {
    text-align: center;
}

.form-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: var(--primary-color);
    cursor: pointer;
}

.form-group button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}