<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
<div class="form-container">
    <h2>Регистрация</h2>
    <form id="registration-form">
        <div class="form-group">
            <label for="register-username"></label>
            <input type="text" id="register-username" name="username" required placeholder="Имя пользователя">
        </div>
        <div class="form-group">
            <label for="register-fullname"></label>
            <input type="text" id="register-fullname" name="fullname" required placeholder="ФИО">
        </div>
        <div class="form-group">
            <label for="register-password"></label>
            <input type="password" id="register-password" name="password" required placeholder="Пароль">
        </div>
        <div class="form-group">
            <label for="register-confirm-password"></label>
            <input type="password" id="register-confirm-password" name="confirm-password" required
                   placeholder="Подтвердите пароль">
        </div>
        <div class="form-group">
            <button type="submit">Зарегистрироваться</button>
        </div>
    </form>
    <p class="centered-text">Уже есть аккаунт? <a href="{{ url('login') }}" class="no-underline">Войти</a></p>
</div>
<script src="{{ url_for('static', path='/register.js') }}"></script>
</body>
</html>
